.left {
    float: left;
}

.right {
    float: right;
}

.grid {
    display: grid;
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}