.show {
    &__genre {
        color: $white;
        padding: 5px 10px;
        margin: 5px;
        background-color: $orange;
        border-radius: 15px;
        position: relative;
        left: -10px;

        &--wrapper {
            display: inline-block;
        }
    }
}