.btn--primary {
    padding: 12px 20px;
    margin-left: 10px;
    font-size: 16px;
    position: relative;
    top: 0;
    background: transparent;
    border: 1px solid $white;
    color: $white;
    text-transform: uppercase;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }