.error {
    &__wrapper {
        display: flex;
        align-items: center;
        max-width: 90%;

        .sad-image {
            width: 100%;
        }
    }

    &__image {
        width: 50%;
    }
}